.home-content {
    position: absolute;
    top: 140px;
    padding: 1rem;
}

.home-content h1 {
    font-size: 45px;
    color: orange;
}


.home-content p {
    font-size: 30px;
    color: blue;
}

.span {
    font-size: 30px;
    color: blue;
}
.typical {
    font-size: 30px;
    color: pink;
}